# vim:set ft=sh
{% if system.graphics_card == 'nvidia' %}
MODULES=({{ mkinitcpio_initrd_mods }} nvidia nvidia_modeset nvidia_uvm nvidia_drm usbhid xhci_hcd)
{% elif system.graphics_card == 'i915' %}
MODULES=({{ mkinitcpio_initrd_mods }} i915 usbhid xhci_hcd)
{% elif system.graphics_card == 'amd' %}
MODULES=({{ mkinitcpio_initrd_mods }} amdgpu radeon usbhid xhci_hcd)
{% endif %}

BINARIES=({{ mkinitcpio_initrd_bin }})

FILES=({{ mkinitcpio_initrd_files }})

HOOKS=({{ mkinitcpio_initrd_hooks_pre }} plymouth {{ mkinitcpio_initrd_hooks_post }})

COMPRESSION="{{ mkinitcpio_initrd_compression }}"

COMPRESSION_OPTIONS="{{ mkinitcpio_initrd_compression_options }}"

MODULES_DECOMPRESS="no"
